.container.login-page
  .content
    .login-form
      %h2 Register A New Account
      %form
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        %fieldset
          .control-group
            = f.input :email, required: true, autofocus: true
          .control-group
            = f.input :name,label: "First and Last Name", required: true, autofocus: true
          .control-group
            = f.input :password, required: true
          .control-group
            = f.hidden_field :organization_id, :value => "52c6d7daf13b975c79000002"
            = f.hidden_field :admin, :value => false
          .control-group
            = f.input :password_confirmation, required: true
          .control-group
            - @organization_roles = ['IT','Warehouse','Accounting','Inside Sales','Outside Sales']
            = f.input :organization_role, collection: (@organization_roles), label: "Department", required: true
          %button.btn.primary{type: "submit"} Sign up