.form-horizontal
  .fieldset
    .legend
    = simple_form_for @task, :html => { :class => 'form-horizontal' } do |f|
      .left-column
        .form_user
        -# If admin, display edit options, else display regular info
        %div{:class => "taskprogress"} Completed: #{@task.number_completed} | Target: #{@task.number_to_complete}
        = progress_bar((@task.number_completed.to_f/@task.number_to_complete.to_f)*100, :color => 'blue', :rounded => true)
        %br
        - if current_user.is_admin?
          = f.input :task_name, label: "Name"
          = f.input :due_date, :as => :string, :input_html => { :class => 'jquery-ui-date'}
          = f.input :assigned_to, collection: (@task_owners)
          = f.input :task_type, collection: (@task_types), label: "Type"
          = f.input :number_completed, label: "Number completed"
          = f.input :description, label: "Description of task", as: :text, input_html: {rows: 7}
          = f.input :task_notes, label: "Task Notes", as: :text, input_html: {rows: 7}

          
        - else
          = f.input :task_name, label: "Name", disabled: true
          = f.input :due_date, :as => :string, :input_html => { :class => 'jquery-ui-date'}, disabled: true
          = f.input :assigned_to, collection: (@task_owners), disabled: true
          = f.input :task_type, collection: (@task_types), label: "Type", disabled: true
          = f.input :number_completed, label: "Number completed"
          = f.input :description, label: "Description of task", as: :text, input_html: {rows: 7}
          = f.input :task_notes, label: "Task Notes", as: :text, input_html: {rows: 7}          

      .right-column
        -#= f.input :lead_for_task, collection: (@leads), label: 'For Lead'
        
        

      .clearfix
      .buttons
        = f.submit class: 'btn btn-primary'
        = link_to 'Cancel', tasks_path, class: "btn btn-danger"

:javascript
  $(document).ready(function() {
   $(".jquery-ui-date").datepicker();
  });
